{% form_theme userForm 'bootstrap_5_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="h2 text-center mt-3">Inscription</h1>

    {{ form_start(userForm, {'attr': {'class': 'm-3 col-6 mx-auto'}}) }}
    {{ form_end(userForm) }}
{% endblock %}
