{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
    {% if error %}
        <div>Vos identifiants sont incorrects.</div>
    {% endif %}

    <form action="{{ path('security_login') }}" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="_username" id="email">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password">
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
{% endblock %}
