<h1>Nouvelle demande de contact</h1>

<p>
    ========== MESSAGE ==========<br><br>
    {{ message }}<br><br>
    ========== MESSAGE ==========
</p>

<p>Cette demande a été formulée par <span style="font-weight: 600;">{{ name }}</span>.</p>